In [1]:
import pandas as pd
#import numpy as

In [2]:
# File path
schools_data= "schools_complete.csv"

# Read our csv into Pandas as a dataframe and display first 5 rows
df = pd.read_csv(schools_data)
df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500